<fieldset>
    <legend>{{ textButton }}</legend>
 
    <div class="row">
      <div class="large-12 columns">
        <label>Nombre</label>
        <input type="text" placeholder="Nombre" ng-model="usuario.nombre" required>
      </div>
    </div>
 
    <div class="row">
      <div class="large-4 columns">
        <label>Edad</label>
        <input type="number" placeholder="Edad" ng-model="usuario.edad" required>
      </div>
      <div class="large-4 columns">
        <label>Profesión</label>
        <input type="text" placeholder="Profesión" ng-model="usuario.profesion" required>
      </div>
      <div class="large-4 columns">
        <div class="row collapse">
          <label>Web</label>
            <input type="url" placeholder="Web" ng-model="usuario.web" required>
        </div>
      </div>
    </div>
    <button type="submit" class="button large-12">{{ textButton }}</button>
     <a href="#/" class="button large-12 success">Volver al inicio</a>
  </fieldset>