<div class="panel-custom" ng-show="usuarios.length == 0">
	<h3 class="subheader">No hay usuarios para mostrar</h2>
</div>


<input type="text" ng-model="buscador"  ng-show="usuarios.length > 0" />


<div class="large-12 columns" ng-repeat="(id,usuario) in usuarios | filter: buscador">
	
        <div class="row">
       		  <a href="#/info/{{id}}" class="large-6  button"> {{ usuario.nombre}}  </a>
			  <div class="large-3 columns"><a href="#/edit/{{id}}" class="button expand success">Editar</a></div>
			  <div class="large-3 columns"> <a href="#/remove/{{id}}" class="button expand alert">Eliminar</a></div>
		</div>
</div>