body {
    background-color: lightblue;
    height: 100%;
}

h1 {
    color: navy;
    margin-left: 65px;
}

button {
	margin-left: 20px;
}

center {
	text-decoration: overline underline;
	vertical-align: bottom;
	margin-bottom: 220px;
	margin-top: 70px;  
}